# CRM Integration - copy to .env and fill in values
VITE_CRM_ENDPOINT=https://inwo.crmcore.me/api/lead_management/api/affiliates
VITE_CRM_TOKEN=AFF_1_92cbc1bc76284e19b711bab22587d75f

# Vercel Blob Storage Credentials
BLOB_STORE_ID=
BLOB_READ_WRITE_TOKEN=
